.form {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 77% 20%;
    gap: 25px;
}

.form__input {
    width: 100%;
    padding:10px;
    border:1px solid #a5a1a1;
}

.form__button {
    width: 100%;
    background-color: #008080;
    color:#fff;
    border:none;
    font-size:22px;
}
