.hiddenList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 20px;
    grid-gap: 20px;
}

.hiddenList__button {
    border: none;
    background-color: initial;
    color: #008080;
    font-size: 18px;
    transition: 1s;
}

.hiddenList__button:hover {
    color: #01b2b2;
}

.hiddenList__button:active {
    color: #01b2b2;
}

@media (max-width:767px) {
    .hiddenList {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}