.section {
    background-color: #fff;
    margin-bottom: 10px;
}

.section--higlighted {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: flex-start
}

.section__head {
    border-bottom: 2px solid #eee;
    padding: 10px 20px;
}

.section__head--higlighted {
    border: none;
}

@media (max-width:767px) {
    .section--higlighted {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}